<div
  class="invisible md:visible fixed w-screen text-white flex h-32 bg-gradient-to-b from-black from-80% text-neutral-content items-center justify-center gap-x-2 md:gap-x-8 z-[9999]"
>
  <a
    class="btn btn-ghost text-xs md:text-base font-normal"
    (click)="scrollToSection('home-section')"
    routerLink="/"
    >HOME</a
  >
  <button
    class="btn btn-ghost text-xs md:text-base font-normal"
    (click)="scrollToSection('bio-section')"
    routerLink="/"
  >
    BIO
  </button>
  <button
    class="btn btn-ghost text-xs md:text-base font-bold"
    routerLink="/merch"
  >
    <span class="text-yellow-600">MERCH</span>
  </button>
  <button routerLink="music">MUSIC</button>
  <!-- <a
    class="btn btn-ghost text-xs md:text-base font-normal"
    href="https://linktr.ee/bonolosolomon"
    target="blank_"
    ></a
  > -->

  <img src="/logo.png" class="w-22 md:w-40 h-auto" alt="Logo Image" />

  <button
    class="btn btn-ghost text-xs md:text-base font-bold"
    (click)="scrollToSection('contacts-section')"
    routerLink="/"
  >
    REACH OUT
  </button>

  <div class="flex collapse md:visible md:gap-x-8">
    <a
      class="btn btn-ghost text-lg font-normal bg-logoImage"
      href="https://instagram.com/bonolosolomon"
      target="_black"
    >
      <img
        width="24"
        height="24"
        src="https://img.icons8.com/external-tal-revivo-bold-tal-revivo/24/FFFFFF/external-instagram-photo-and-video-sharing-social-networking-service-owned-by-facebook-logo-bold-tal-revivo.png"
        alt="external-instagram-photo-and-video-sharing-social-networking-service-owned-by-facebook-logo-bold-tal-revivo"
      />
    </a>
    <a
      class="btn btn-ghost text-lg font-normal"
      href="https://facebook.com/realbonolosolomon"
      target="_black"
    >
      <img
        width="24"
        height="24"
        src="https://img.icons8.com/ios-filled/50/FFFFFF/facebook-new.png"
        alt="facebook-new"
      />
    </a>
    <a
      class="btn btn-ghost text-lg font-normal"
      href="https://open.spotify.com/artist/4kaNxQusxlke6nfnusb2fT"
      target="_black"
    >
      <img
        width="24"
        height="24"
        src="https://img.icons8.com/ios-filled/24/FFFFFF/spotify.png"
        alt="spotify"
      />
    </a>
    <a class="btn btn-ghost text-lg font-normal">
      <img
        width="24"
        height="24"
        src="https://img.icons8.com/ios-filled/50/FFFFFF/apple-music.png"
        alt="apple-music"
      />
    </a>
  </div>
</div>

<div
  class="visible md:invisible fixed w-screen text-white flex h-32 bg-gradient-to-b from-black from-80% text-neutral-content items-center justify-center gap-x-2 md:gap-x-8 z-[9999]"
>
  <a
    class="btn btn-ghost text-xs md:text-base font-normal"
    (click)="scrollToSection('home-section')"
    routerLink="/"
    >HOME</a
  >
  <button
    class="btn btn-ghost text-xs md:text-base font-normal"
    (click)="scrollToSection('bio-section')"
  >
    BIO
  </button>
  <button
    class="btn btn-ghost text-xs md:text-base font-bold"
    routerLink="/merch"
  >
    <span class="text-yellow-600">MERCH</span>
  </button>

  <img src="/logo.png" class="w-22 md:w-40 h-auto" alt="Logo Image" />

  <a
    class="btn btn-ghost text-xs md:text-base font-normal"
    href="https://linktr.ee/bonolosolomon"
    target="blank_"
    >MUSIC</a
  >
  <button
    class="btn btn-ghost text-xs md:text-base font-bold"
    (click)="scrollToSection('contacts-section')"
    routerLink="/"
  >
    REACH OUT
  </button>
</div>
