<!------------------------ THE HOME SECTION ----------------------------->

<div class="flex flex-col bg-black" id="home-section">
  <div
    class="w-screen h-screen bg-center sm:bg-top bg-cover flex items-center relative bg-opacity-50%"
    style="background-image: url('/BackgroundPortrait.jpg')"
  >
    <div class="py-10 sm:py-20"></div>

    <!-- GRID CONTAINER -->
    <div
      class="grid grid-cols-1 md:grid-cols-12 gap-6 px-6 sm:px-10 w-full z-10"
    >
      <!-- LEFT SECTION (TEXT) -->
      <div
        class="md:col-start-3 md:col-span-8 space-y-10 text-center md:text-center"
      >
        <h1
          class="text-white text-4xl sm:text-5xl md:text-6xl font-bebas font-bold text-focus-in"
        >
          <span class="animate-pulse bebas-neue-regular"
            >AWARD-WINNING SOUTH AFRICAN R&B ARTIST</span
          >
        </h1>
        <div class="flex justify-center">
          <button
            class="text-white bg-yellow-600 hover:bg-yellow-800 transition rounded-lg w-48 h-14 sm:w-64 sm:h-16"
          >
            <p class="font-bold text-sm sm:text-2xl bebas-neue-regular">
              ARTIST BIO
            </p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BIO SECTION -->
<div class="flex flex-col" id="bio-section">
  <div class="w-full bg-black bg-cover">
    <!-- MAIN GRID -->
    <div class="w-full grid grid-cols-1 md:grid-cols-12 gap-6">
      <!-- LEFT SIDE: BIO TEXT & HIGHLIGHTS -->
      <div class="md:col-span-6 px-6 sm:px-10 py-10 sm:py-20 space-y-10">
        <div>
          <h1
            class="text-3xl sm:text-4xl text-yellow-600 font-bold mb-6 bebas-neue-regular"
          >
            BIO
          </h1>
          <p class="text-white text-sm sm:text-base leading-relaxed">
            Bonolo Solomon, known by his stage name, is a South African Trap
            Soul artist hailing from Kuruman, Northern Cape. Born on April 6,
            1998, he's now based in Johannesburg. His musical journey began in
            2009, and by 2012, he recorded his first song, setting the stage for
            an impressive career. Bonolo Solomon draws inspiration from artists
            like August Alsina, Chris Brown, Eminem, Lil Wayne, and Akon.
            Notably, he was crowned "King of JTG District" at the Northern Cape
            Hip Hop Awards in 2019 after releasing his debut EP, "The Trailer
            EP," in 2018. In 2021, he received the "Best R&B Singer of the Year"
            award from the Northern Cape Awards for his song "On Reserve" from
            the LP "Bipolar," released in 2019. With a dynamic style that blends
            melodic trap beats, introspective lyrics, and hip hop flows, Bonolo
            Solomon has performed at prestigious events like the Northern Cape
            Heritage Festival. He's a self-taught musician, beatmaker, and
            producer who's dedicated to sharing his message through music.
          </p>
        </div>

        <div>
          <h1 class="text-3xl sm:text-4xl text-white font-thin my-6">
            Career Highlights
          </h1>
          <div class="space-y-6 text-white text-sm sm:text-base">
            <div>
              <p>2022</p>
              <p class="font-normal">
                Performed at Northern Cape Heritage Festival,
                <span class="font-thin italic"
                  >shared a stage with artists like Tuks Senganga, Kelly
                  Khumalo, etc...</span
                >
              </p>
            </div>
            <div>
              <p>2021</p>
              <p class="font-normal">
                Awarded Northern Cape “Best R&B Artist of The Year”.
              </p>
            </div>
            <div>
              <p>2020</p>
              <p class="font-normal">Performed at Northern Cape Awards.</p>
            </div>
            <div>
              <p>2019</p>
              <p class="font-normal">
                Awarded at Northern Cape Hip-Hop Awards “King of JTG District”.
              </p>
            </div>
          </div>
        </div>

        <!-- YOUTUBE VIDEO -->
        <div class="w-full h-auto my-10">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/ozyr650ZV30"
            frameborder="0"
            allowfullscreen
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          >
          </iframe>
          <!-- <iframe
            class="w-full h-64 sm:h-80 rounded-3xl"
            src="https://www.youtube.com/embed/ozyr650ZV30"
            title="053Villers ft AyBaex (Music Video)"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe> -->
        </div>
      </div>

      <!-- RIGHT SIDE: IMAGE + TEXT -->
      <div
        class="md:col-span-6 px-6 sm:px-10 pt-10 md:pt-0 flex flex-col items-center md:items-start space-y-10"
      >
        <!-- Bio Image -->
        <div
          class="w-full h-64 sm:h-dvh rounded-3xl bg-gray-200 bg-cover mt-10 md:mt-40 slide-in-blurred-right"
          style="background-image: url('/Image2.jpg')"
        ></div>

        <!-- Text Block -->
        <div class="text-white w-full md:w-4/6 space-y-6">
          <h1
            class="text-3xl text-yellow-600 sm:text-4xl font-bold text-center md:text-left bebas-neue-regular"
          >
            THESE WORDS, THESE SONGS, MY LEGACY.
          </h1>
          <p class="font-normal text-sm sm:text-base text-center md:text-left">
            This is a video highlight reel for Bonolo Solomon’s music journey
            over the years. Went from making music with friends, performing in
            tarvens to gracing festival stages with some of South Africa’s
            biggest artists.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CONTACT SECTION -->
<div class="flex flex-col" id="contacts-section">
  <div class="w-full bg-black py-10">
    <!-- Grid Stack on Mobile -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 px-6 sm:px-10">
      <!-- Form Section -->
      <div>
        <form
          [formGroup]="contactForm"
          (ngSubmit)="sendMessage()"
          class="space-y-6"
        >
          <div
            class="flex flex-col sm:flex-row sm:space-x-10 space-y-6 sm:space-y-0"
          >
            <div class="flex-1 space-y-2">
              <p class="text-white">Your email</p>
              <input
                type="email"
                formControlName="email"
                class="input w-full max-w-full"
              />
            </div>
            <div class="flex-1 space-y-2">
              <p class="text-white">Your phone number</p>
              <input
                type="text"
                formControlName="phone"
                class="input w-full max-w-full"
              />
            </div>
          </div>

          <div class="space-y-2">
            <p class="text-white">Your message</p>
            <textarea
              formControlName="message"
              class="input w-full h-32 max-w-full"
            ></textarea>
          </div>

          <button
            type="submit"
            [disabled]="contactForm.invalid"
            class="px-6 py-2 bg-yellow-600 text-white rounded-lg"
          >
            Send Message
          </button>
          <p class="text-white">All rights reserved by bonolo solomon</p>
        </form>

        <p *ngIf="successMessage" class="text-green-500 mt-4">
          {{ successMessage }}
        </p>
        <p *ngIf="errorMessage" class="text-red-500 mt-2">
          {{ errorMessage }}
        </p>
      </div>

      <!-- Contact Details -->
      <div class="text-white space-y-6 flex flex-col justify-center">
        <p class="font-thin text-7xl bebas-neue-regular">Reach out!</p>
        <div>
          <h1 class="font-bold text-3xl sm:text-4xl md:text-5xl">
            064 862 1677
          </h1>
          <h1 class="font-bold text-2xl sm:text-3xl md:text-5xl break-all">
            BOOKINGS.BJSGMAIL.COM
          </h1>
          <p class="text-lg font-thin">For bookings and other inquiries.</p>
        </div>
      </div>
    </div>
  </div>
</div>
