<!---THE HOME SECTION -->
<div class="flex flex-col bg-black" id="home-section">
  <div
    class="w-screen h-screen bg-center sm:bg-top bg-cover flex items-center relative bg-opacity-50%"
    style="background-image: url('/BackgroundPortrait.jpg')"
  >
    <div class="py-10 sm:py-20"></div>

    <!-- GRID CONTAINER -->
    <div
      class="grid grid-cols-1 md:grid-cols-12 gap-6 px-6 sm:px-10 w-full z-10"
    >
      <!-- LEFT SECTION (TEXT) -->
      <div
        class="md:col-start-3 md:col-span-8 space-y-10 text-center md:text-center"
      >
        <h1
          class="text-white text-4xl sm:text-5xl md:text-8xl bebas-neue-regular text-focus-in"
        >
          <span class="animate-pulse">INTROSPECTIVE RNB ARTIST</span>
        </h1>
        <div class="flex justify-center">
          <button
            class="text-white bg-yellow-600 hover:bg-yellow-900 transition rounded-lg w-48 h-14 sm:w-64 sm:h-16"
          >
            <p class="font-bold text-sm sm:text-2xl bebas-neue-regular">
              ARTIST BIO
            </p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BIO SECTION -->
<div class="flex flex-col" id="bio-section">
  <div class="w-full bg-black bg-cover">
    <!-- MAIN GRID -->
    <div class="w-full grid grid-cols-1 md:grid-cols-12 gap-6">
      <!-- LEFT SIDE: BIO TEXT & HIGHLIGHTS -->
      <div class="md:col-span-6 px-6 sm:px-10 py-10 sm:py-20 space-y-10">
        <div>
          <h1
            class="text-3xl sm:text-4xl text-yellow-600 font-bold mb-6 bebas-neue-regular"
          >
            BIO
          </h1>
          <p class="text-white text-sm sm:text-base leading-relaxed">
            An Introspective RnB Artist, with contemporary elements tackling
            subjects relating to love & intimacy, heartbreak & betrayal, and
            social insecurities.<br /><br />

            Born and raised in Kuruman, Northern Cape, Bolomon's journey through
            music began with poetry, rap, then eventually RnB when his friend
            introduced him to August Alsina's music in 2014, with new found love
            for singing and roots in Hip-Hop, RnB with some Hip-Hop elements
            seemed to be a calling for him.<br />
            <br />
            While creatively infusing melodic range of modern day RnB and
            occasional subtleties of TrapSoul instrumentation, Bonolo's music
            aims to help listeners make sense oof what they feel by reflecting
            inward and asking themselves deep rooted questions.
          </p>
        </div>

        <div>
          <h1 class="text-3xl sm:text-4xl text-white font-thin my-6">
            Career Milestones
          </h1>
          <div class="space-y-6 text-white text-sm sm:text-base">
            <div>
              <p class="font-bold">BIGGEST FESTIVAL ON THE PROVINCE</p>
              <p class="font-thin italic">
                In 2022, Bonolo performed at Northern Cape Heritage Festival,
                one of the biggest festivals ever to be hosted on the province
              </p>
            </div>

            <div>
              <p class="font-bold">MULTIPLE AWARD-WINNING ARTIST</p>
              <p class="font-thin italic">
                Won the KING OF JTG award in 2019 at Northern Cape Hip Hop
                Awards & BEST R&B ARTIST OF THE YEAR in 2021 at Northern Cape
                Awards
              </p>
            </div>

            <div>
              <p class="font-bold">RELEASED PLETHORA OF MUSIC</p>
              <p class="font-thin italic">
                Over the years Bonolo has released over 5 albums/EPs and
                multiple singles and has impacted tens of thousands of people's
                lives through his music.<br /><br />Amassed over 10 000
                Followers across soci al media platforms such as Facebook, Ti
                kTok, Instagram & YouTube
              </p>
            </div>
          </div>
        </div>

        <!-- YOUTUBE VIDEO -->

        <div class="w-auto h-auto md:h-auto my-10 bg-gray-200" #videoContainer>
          <video #videoPlayer autoplay class="w-auto h-auto" controls>
            <source src="/Channeltrailer.mp4" type="video/mp4" />
            <source src="movie.ogg" type="video/ogg" />
            Your browser does not support the video tag.
          </video>
        </div>
      </div>

      <!-- RIGHT SIDE: IMAGE + TEXT -->
      <div
        class="md:col-span-6 px-6 sm:px-10 pt-10 md:pt-0 flex flex-col items-center md:items-start space-y-10"
      >
        <!-- Bio Image -->
        <div
          class="w-full h-64 sm:h-dvh rounded-3xl bg-gray-200 bg-cover mt-10 md:mt-40 slide-in-blurred-right"
          style="background-image: url('/Image2.jpg')"
        ></div>

        <!-- Text Block -->
        <div class="text-white w-full md:w-4/6 space-y-6">
          <h1
            class="text-3xl text-yellow-600 sm:text-4xl font-bold text-center md:text-left bebas-neue-regular"
          >
            THESE WORDS, THESE SONGS, MY LEGACY.
          </h1>

          <p
            class="responsive-text font-normal text-sm sm:text-base text-center md:text-left"
          >
            This is a video highlight reel for Bonolo Solomon’s music journey
            over the years. Went from making music with friends, performing in
            tarvens to gracing festival stages with some of South Africa’s
            biggest artists.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CONTACT SECTION -->
<div class="flex flex-col" id="contacts-section">
  <div class="w-full bg-black py-10">
    <!-- Grid Stack on Mobile -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 px-6 sm:px-10">
      <!-- Form Section -->
      <div>
        <form
          [formGroup]="contactForm"
          (ngSubmit)="sendMessage()"
          class="gap-y-6"
        >
          <div class="flex flex-col sm:flex-row sm:gap-x-10 gap-y-8 sm:gap-y-0">
            <div class="flex-1 gap-y-2">
              <p class="text-white py-2">Your email</p>
              <input
                type="email"
                formControlName="email"
                class="input w-full max-w-full"
              />
            </div>
            <div class="flex-1 gap-y-2">
              <p class="text-white py-2">Your phone number</p>
              <input
                type="text"
                formControlName="phone"
                class="input w-full max-w-full"
              />
            </div>
          </div>

          <div class="gap-y-4">
            <p class="text-white py-2">Your message</p>
            <textarea
              formControlName="message"
              class="input w-full h-32 max-w-full"
            ></textarea>
          </div>

          <button
            type="submit"
            [disabled]="contactForm.invalid"
            class="px-6 py-2 mt-4 bg-yellow-600 text-white rounded-lg"
          >
            Send Message
          </button>
          <p class="text-white py-4">All rights reserved by bonolo solomon</p>
        </form>

        <p *ngIf="successMessage" class="text-green-500 mt-4">
          {{ successMessage }}
        </p>
        <p *ngIf="errorMessage" class="text-red-500 mt-2">
          {{ errorMessage }}
        </p>
      </div>

      <!-- Contact Details -->
      <div class="text-white space-y-6 flex flex-col">
        <p class="font-bold text-4xl md:text-7xl">REACH OUT!</p>
        <div>
          <!-- <div class="flex gap-x-4 items-center">
            <img
              class="w-auto h-auto"
              src="https://img.icons8.com/pastel-glyph/40/FFFFFF/whatsapp--v2.png"
              alt="whatsapp--v2"
            />
            <h1 class="text-lg md:text-4xl lg:text-5xl font-thin">
              064 862 1677
            </h1>
          </div> -->

          <div class="flex gap-x-4 items-center">
            <img
              class="w-auto h-auto"
              src="https://img.icons8.com/ios-filled/40/FFFFFF/email-open.png"
              alt="email-open"
            />
            <p class="text-lg md:text-4xl lg:text-5xl break-all font-thin">
              {{ "bookings.bjs@gmail.com" }}
            </p>
          </div>

          <p class="text-sm md:text-lg font-thin">
            For bookings and other inquiries.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
