<div
  class="w-screen h-screen bg-black content-center p-10 flex justify-center items-center"
>
  <div class="w-[80vw] h-[80vh] flex items-center text-white justify-center">
    <div>
      <h1 class="text-lg text-center py-8">
        HEY THERE, I'M STILL WORKING ON GETTING THE MUSIC SET UP, IN THE MEAN
        TIME, CHECK OUT THE MUSIC HERE:
      </h1>
      <a
        class="text-center flex justify-center"
        href="https://linktr.ee/bonolosolomon"
        target="_blank"
      >
        <button class="border-2 p-4 w-32 rounded-lg">MUSIC</button>
      </a>
    </div>
  </div>
</div>
